#cycle {
    position: relative;
}

#cycle>img {
    width: 100%;
    height: 300px;
}

#cycle>h1 {
    position: absolute;
    top: 17%;
    left: 30%;
    font-weight: lighter;
}

#cycle>p {
    position: absolute;
    top: 38%;
    left: 25%;
    font-weight: lighter;
    width: 50%;
}


/* explore.......... */

#explore {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    width: 80%;
    margin: auto;
    text-align: center;
}

#explore>div>img {
    width: 80%;
    height: 80px;
}

#explore>div>p {
    font-weight: lighter;
    font-size: 10px;
    color: grey;
}

#upper {
    text-align: center;
}

#upper>h1 {
    font-weight: lighter;
}

#upper>p {
    font-weight: lighter;
    color: gray;
}

#upper>button {
    background-color: white;
    padding: 5px 3px;
    border: 0.05px solid gray;
}